*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
     
}
.container{
    max-width: 1280px;
    margin:auto;
}
.btn{
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    border: none;
}
.banner{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 50px auto;
    
}
.banner-left{
    padding-left:45px;

}
.banner h2{
    font-size: 70px;
    font-weight: 700;
}
.banner p{
    color: white;
    margin: 15px 0;
}