.box-sizing{
    background-color: pruple;
    height: 700px;
    width: 700px;
    margin: auto;
}
.contaent-box{
    background-color: red;
    height: 300px;
    width: 300px;


}
.border-box{
    
    height: 300px;
    width: 300px;
}